<div class="swiper {{ class }}">
  <div class="swiper-wrapper">
    {{ slot }}
  </div>
</div>
{{ if navigation }}
  <nav class="flex justify-center md:justify-between items-center mt-60 md:mt-45">
    <a href="javascript:;" class="hidden md:block swiper-btn-prev">
      {{ partial:components/icons/arrow-right-short class="w-22 xl:w-40 xl:h-auto rotate-180" }}
    </a>
    {{ partial:components/buttons/more title="{{ "Zum Team" | trans }}" url="{{ link id="da3064ef-0ff3-40b8-8ea7-12771204c109" }}" }}
    <a href="javascript:;" class="hidden md:block swiper-btn-next">
      {{ partial:components/icons/arrow-right-short class="w-22 xl:w-40 xl:h-auto" }}
    </a>
  </nav>
{{ /if }}