<section data-section-theme="light" class="pt-90 lg:pt-150">
  {{ partial:layout/blocks/inner }}
    <div class="grid grid-cols-12 gap-15">

      {{ if category }}

        {{ taxonomy:project_categories }}
            {{ if slug == category }}
              {{ collection from="projects" as="projects" taxonomy:project_categories="{id}" sort="order" }}
                {{ if no_results }}
                  <p class="col-span-full">{{ "Oh, es gibt leider noch keine Projekte. Schau doch zu einem späteren Zeitpunkt noch einmal vorbei." | trans }}</p>
                {{ else }}
                  {{ projects }}  
                    {{ if count | mod(3) == 0 }}
                      <a 
                        href="{{ url }}"
                        title="{{ title }}"
                        class="block col-span-full image-overlay after:bg-opacity-20 group"
                        data-touch>
                        {{ partial:partials/components/project/media/preview video="{{ teaser_video }}" image="{{ teaser_image_landscape ?? teaser_image_portrait }}" title="{{ title }}" client="{{ client }}" class="aspect-[16/8]" }}
                      </a>
                    {{ elseif count | mod(2) == 0 }}
                      <a 
                        href="{{ url }}"
                        title="{{ title }}"
                        class="block col-span-full md:col-span-8 image-overlay after:bg-opacity-20 group"
                        data-touch>
                        {{ partial:partials/components/project/media/preview video="{{ teaser_video }}" image="{{ teaser_image_landscape ?? teaser_image_portrait }}" title="{{ title }}" client="{{ client }}" class="aspect-[3/2]" }}
                      </a>
                    {{ else }}
                      <a 
                        href="{{ url }}"
                        title="{{ title }}"
                        class="block col-span-full md:col-span-4 image-overlay after:bg-opacity-20 group"
                        data-touch>
                        {{ partial:partials/components/project/media/preview video="{{ teaser_video }}" image="{{ teaser_image_portrait ?? teaser_image_landscape }}" title="{{ title }}" client="{{ client }}" class="aspect-[3/4]" }}
                      </a>
                    {{ /if }}
                  {{ /projects }}
                {{ /if }}
              {{ /collection }}
            {{ /if }}
        {{ /taxonomy:project_categories }}

      {{ else }}

        {{ collection from="projects" as="projects" sort="order" taxonomy:project_categories="{{ category }}" taxonomy:tags="{{ tag }}" }}
          {{ if no_results }}
            <p class="col-span-full">{{ "Oh, es gibt leider noch keine Projekte. Schau doch zu einem späteren Zeitpunkt noch einmal vorbei." | trans }}</p>
          {{ else }}
            {{ projects }}  
              {{ if count | mod(3) == 0 }}
                <a 
                  href="{{ url }}"
                  title="{{ title }}"
                  class="block col-span-full image-overlay after:bg-opacity-20 group"
                  data-touch>
                  {{ partial:partials/components/project/media/preview video="{{ teaser_video }}" image="{{ teaser_image_landscape ?? teaser_image_portrait }}" title="{{ title }}" client="{{ client }}" class="aspect-[16/8]" }}
                </a>
              {{ elseif count | mod(2) == 0 }}
                <a 
                  href="{{ url }}"
                  title="{{ title }}"
                  class="block col-span-full md:col-span-8 image-overlay after:bg-opacity-20 group"
                  data-touch>
                  {{ partial:partials/components/project/media/preview video="{{ teaser_video }}" image="{{ teaser_image_landscape ?? teaser_image_portrait }}" title="{{ title }}" client="{{ client }}" class="aspect-[3/2]" }}
                </a>
              {{ else }}
                <a 
                  href="{{ url }}"
                  title="{{ title }}"
                  class="block col-span-full md:col-span-4 image-overlay after:bg-opacity-20 group"
                  data-touch>
                  {{ partial:partials/components/project/media/preview video="{{ teaser_video }}" image="{{ teaser_image_portrait ?? teaser_image_landscape }}" title="{{ title }}" client="{{ client }}" class="aspect-[3/4]" }}
                </a>
              {{ /if }}
            {{ /projects }}
          {{ /if }}
        {{ /collection }}

      {{ /if }}
      
    </div>
  {{ /partial:layout/blocks/inner }}
</section>