<div id="{{ is_fullpage ? 'fullpage' : '' }}">
  <section data-section data-section-theme="light" class="{{ is_fullpage ? 'section fp-section-centered' : 'pt-90 pb-30 md:pt-150 md:pb-60' }}">
    <div class="{{ is_fullpage ? 'pt-90 pb-150 md:pt-150 md:pb-60' : '' }}">
      {{ if feature_layout == 'landscape' }}
        {{ partial:components/project/layout/landscape }}
      {{ /if }}
      
      {{ if feature_layout == 'portrait' }}
        {{ partial:components/project/layout/portrait }}
      {{ /if }}
    </div>
  </section>
 
{{ elements }}

  {{ if type == 'image_text' }}
    <section data-section data-section-theme="light" class="{{ is_fullpage ? 'section fp-section-centered' : 'py-30 md:py-60 xl:py-90' }}">
      <div class="pt-90 pb-150 lg:py-150">
        {{ partial:components/project/elements/image_text }}
      </div>
    </section>
  {{ /if }}

  {{ if type == 'fullscreen_image' }}
    <section data-section data-section-theme="dark" class="relative {{ is_fullpage ? 'section' : 'my-30 xl:my-60 min-h-screen' }}">
      {{ partial:components/project/elements/fullscreen_image }}
    </section>
  {{ /if }}

  {{ if type == 'image' }}
    <section data-section data-section-theme="light" class="{{ is_fullpage ? 'section fp-section-centered' : 'py-30 xl:py-60' }}">
      <div class="pt-90 pb-150 lg:py-150 w-full">
        {{ partial:components/project/elements/image }}
      </div>
    </section>
  {{ /if }}

  {{ if type == 'video' }}
    <section data-section data-section-theme="light" class="{{ is_fullpage ? 'section fp-section-centered' : 'py-30 xl:py-60' }}">
      {{ partial:layout/blocks/inner }}
        {{ partial:components/media/video/video }}
      {{ /partial:layout/blocks/inner }}
    </section>
  {{ /if }}

  {{# {{ if type == 'horizontal_ruler' }}
    {{ partial:components/misc/hr }}
  {{ /if }} #}}

{{ /elements }}

{{ if related }}
  {{ partial:project/_related }}
{{ /if }}

{{ if is_fullpage }}
  <section data-section data-section-theme="light" class="section fp-auto-height pt-90 xl:pt-150">
    {{ partial:layout/footer }}
  </section>
{{ /if }}
</div>

{{ if !is_fullpage }}
  {{ partial:layout/footer }}
{{ /if }}