<section data-section data-section-theme="light" class="pt-90 pb-30 md:pt-150 md:pb-60 {{ is_fullpage ? 'md:snap-center' : '' }}">

  {{ if feature_layout == 'landscape' }}
    {{ partial:components/project/layout/landscape }}
  {{ /if }}
  
  {{ if feature_layout == 'portrait' }}
    {{ partial:components/project/layout/portrait }}
  {{ /if }}

</section>
 
{{ elements }}

  {{ if type == 'image_text' }}
    <section data-section data-section-theme="light" class="py-30 xl:py-60">
      {{ partial:components/project/elements/image_text }}
    </section>
  {{ /if }}

  {{ if type == 'fullscreen_image' }}
    <section data-section data-section-theme="dark" class="py-30 xl:py-60">
      {{ partial:components/project/elements/fullscreen_image }}
    </section>
  {{ /if }}

  {{ if type == 'image' }}
    <section data-section data-section-theme="light" class="py-30 xl:py-60">
      {{ partial:components/misc/hr }}
      {{ partial:components/project/elements/image }}
    </section>
  {{ /if }}

{{ /elements }}

{{ if related }}

  <section data-section data-section-theme="light" class="pt-60 xl:pt-150">
    <div class="max-w-site md:mx-auto md:px-35">
    {{ partial:components/headings/h2 is_project="true" class="pl-35 md:pl-0 text-md xl:text-4xl mb-15 xl:mb-30" }}
        {{ "Ähnliche Projekte" | trans }}
      {{ /partial:components/headings/h2 }}

      {{ partial:components/swiper/wrapper class="md:!hidden"  }}
        {{ partial:components/swiper/container class="js-swiper-projects" navigation="false" }}
          {{ related }}
            {{ partial:components/swiper/slide class="swiper-slide--mute-inactive" }}
              {{ partial:components/project/elements/card }}
            {{ /partial:components/swiper/slide }}
          {{ /related }}
        {{ /partial:components/swiper/container }}
      {{ /partial:components/swiper/wrapper }}

      <div class="hidden md:grid grid-cols-12 gap-20 lg:gap-50">
        {{ related }}        
          <div class="md:col-span-4">
            {{ partial:components/project/elements/card }}
          </div>
        {{ /related }}
      </div>
      
      <div class="mt-60 xl:mt-90 flex justify-center">
        {{ partial:components/buttons/back title="{{ "Zum Portfolio" | trans }}" url="{{ link id="6dc5a5ba-4450-45c6-9684-53b3a8bb4261" }}" }}
      </div>
    </div>
  </section>

{{ /if }}