<section data-section data-section-theme="light" class="pt-90 pb-30 md:pt-150 md:pb-60 {{ is_fullpage ? 'md:snap-center' : '' }}">

  {{ if feature_layout == 'landscape' }}
    {{ partial:components/project/layout/landscape }}
  {{ /if }}
  
  {{ if feature_layout == 'portrait' }}
    {{ partial:components/project/layout/portrait }}
  {{ /if }}

</section>
 
{{ elements }}

  {{ if type == 'image_text' }}
    <section data-section data-section-theme="light" class="py-30 md:py-60 xl:py-90">
      {{ partial:components/project/elements/image_text }}
    </section>
  {{ /if }}

  {{ if type == 'fullscreen_image' }}
    <section data-section data-section-theme="dark" class="my-30 xl:my-60 relative min-h-screen">
      {{ partial:components/project/elements/fullscreen_image }}
    </section>
  {{ /if }}

  {{ if type == 'image' }}
    <section data-section data-section-theme="light" class="py-30 xl:py-60">
      {{ partial:components/project/elements/image }}
    </section>
  {{ /if }}

  {{ if type == 'horizontal_ruler' }}
    {{ partial:components/misc/hr }}
  {{ /if }}

{{ /elements }}

{{ if related }}
  {{ partial:project/_related }}
{{ /if }}