<section 
  data-section 
  data-section-theme="light" 
  {{ is_fullpage ? 'data-section-snap' : '' }}
  {{ is_fullpage ? 'data-anchor-target="{{ anchor }}"' : '' }}
  class="relative {{ is_fullpage ? 'snap-center snap-always min-h-screen flex flex-col justify-center' : 'py-90 xl:py-150' }}">
  {{ partial:components/misc/anchor anchor="{{ anchor }}" }}
  {{ partial:layout/blocks/inner class="{{ is_fullpage ? 'pt-90 pb-150 xs:py-90 lg:py-150' : '' }}" }}
    <div class="grid grid-cols-12 gap-x-20 lg:gap-x-30 xl:gap-x-50">
      <div class="col-span-12 lg:col-span-4 xl:col-span-5 2xl:col-span-4 lg:order-2 mb-30">

        {{ partial:components/headings/h2 class="font-meta-medium text-3xl md:text-5xl xl:text-8xl uppercase tracking-widest leading-[1.2]" }}
          {{ title_items }}
            <span 
              class="block" 
              data-animation="fadeIn_slideInLeft"
              data-animation-staggered="{{ index }}">
              {{ title }}
            </span>
          {{ /title_items }}
        {{ /partial:components/headings/h2 }}
      </div>
      <div 
        class="space-y-20 lg:space-y-0 col-span-10 col-start-2 lg:col-span-8 xl:col-span-7 2xl:col-span-8 lg:order-3 lg:grid lg:grid-cols-12 lg:gap-x-30 xl:gap-x-50"
        data-animation="fadeIn"
        data-animation-duration="slow">
        <div class="space-y-20 lg:col-span-6">
          {{ text_left }}
        </div>
        <div class="md:col-span-6">
          {{ text_right }}
        </div>
      </div>
    </div>
  {{ /partial:layout/blocks/inner }}
</section>