{{ if type == 'editor' }}
  <section data-section data-section-theme="light" class="pt-90 lg:pt-150">
    {{ partial:layout/container }}
    <article class="max-w-content mx-auto">
      {{ content  }}
    </article>
    {{ /partial:layout/container }}
  </section>
{{ /if }}

{{ if type == 'horizontal_ruler' }}
  {{ partial:ui/hr }}
{{ /if }}

{{ if type == 'intro' }}
  {{ partial:fieldsets/intro/wrapper }}
{{ /if }}

{{ if type == 'teaser_project' }}
  {{ partial:fieldsets/teaser/portfolio/wrapper is_teaser="true" }}
{{ /if }}

{{ if type == 'teaser_competencies' }}
  {{ partial:fieldsets/teaser/competencies/wrapper }}
{{ /if }}

{{ if type == 'teasers_expertise' }}
  {{ partial:fieldsets/teaser/expertise/wrapper }}
{{ /if }}

{{ if type == 'teaser_video' }}
  {{ partial:fieldsets/teaser/video/wrapper }}
{{ /if }}

{{ if type == 'teaser_fullscreen_image' }}
  {{ partial:fieldsets/teaser/image/wrapper }}
{{ /if }}

{{ if type == 'teaser_image_text' }}
  {{ partial:fieldsets/teaser/image_text/wrapper }}
{{ /if }}

{{ if type == 'teaser_blog' }}
  {{ partial:fieldsets/teaser/post/wrapper }}
{{ /if }}

{{ if type == 'slideshow_team' }}
  {{ partial:fieldsets/slideshow-team/wrapper }}
{{ /if }}

{{ if type == 'title_text' }}
  {{ partial:fieldsets/title_text }}
{{ /if }}

{{ if type == 'statement' }}
  {{ partial:fieldsets/statement }}
{{ /if }}

{{ if type == 'jobs' }}
  {{ partial:fieldsets/jobs/wrapper }}
{{ /if }}

{{ if type == 'faq' }}
  {{ partial:fieldsets/faq/wrapper }}
{{ /if }}

{{ if type == 'cta_expertise' }}
  {{ partial:fieldsets/cta/wrapper }}
    {{ partial:fieldsets/cta/expertise }}
  {{ /partial:fieldsets/cta/wrapper }}
{{ /if }}

{{ if type == 'cta_project' }}
  {{ partial:fieldsets/cta/wrapper }}
    {{ partial:fieldsets/cta/project }}
  {{ /partial:fieldsets/cta/wrapper }}
{{ /if }}
