{{ if type == 'editor' }}
  {{ partial:fieldsets/editor }}
{{ /if }}

{{ if type == 'horizontal_ruler' }}
  {{ partial:ui/hr }}
{{ /if }}

{{ if type == 'marquee' }}
  {{ partial:fieldsets/marquee/wrapper }}
{{ /if }}

{{ if type == 'intro' }}
  {{ partial:fieldsets/intro/wrapper }}
{{ /if }}

{{ if type == 'teaser_project' }}
  {{ partial:fieldsets/teaser/portfolio/wrapper }}
{{ /if }}

{{ if type == 'teaser_competencies' }}
  {{ partial:fieldsets/teaser/competencies/wrapper }}
{{ /if }}

{{ if type == 'principles' }}
  {{ partial:fieldsets/principles/wrapper }}
{{ /if }}

{{ if type == 'facts_figures' }}
  {{ partial:fieldsets/facts_figures/wrapper }}
{{ /if }}

{{ if type == 'teaser_video' }}
  {{ partial:fieldsets/teaser/video/wrapper }}
{{ /if }}

{{ if type == 'teaser_fullscreen_image' }}
  {{ partial:fieldsets/teaser/image/wrapper }}
{{ /if }}

{{ if type == 'teaser_image_text' }}
  {{ partial:fieldsets/teaser/image_text/wrapper }}
{{ /if }}

{{ if type == 'teaser_blog' }}
  {{ partial:fieldsets/teaser/post/wrapper }}
{{ /if }}

{{ if type == 'slideshow_team' }}
  {{ partial:fieldsets/slideshow-team/wrapper }}
{{ /if }}

{{ if type == 'title_text' }}
  {{ partial:fieldsets/title_text }}
{{ /if }}

{{ if type == 'statement' }}
  {{ partial:fieldsets/statement }}
{{ /if }}

{{ if type == 'jobs' }}
  {{ partial:fieldsets/jobs/wrapper }}
{{ /if }}

{{ if type == 'faq' }}
  {{ partial:fieldsets/faq/wrapper }}
{{ /if }}

{{ if type == 'workflow' }}
  {{ partial:fieldsets/workflow/wrapper }}
{{ /if }}

{{ if type == 'services' }}
  {{ partial:fieldsets/services/wrapper }}
{{ /if }}

{{ if type == 'cta_expertise' }}
  {{ partial:fieldsets/cta/wrapper fullpage="true" }}
    {{ partial:fieldsets/cta/expertise }}
  {{ /partial:fieldsets/cta/wrapper }}
{{ /if }}

{{ if type == 'cta_project' }}
  {{ partial:fieldsets/cta/wrapper }}
    {{ partial:fieldsets/cta/project }}
  {{ /partial:fieldsets/cta/wrapper }}
{{ /if }}
