{{ if type == 'editor' }}
  <section data-section data-section-theme="light" class="pt-90 lg:pt-150">
    {{ partial:layout/blocks/inner }}
    {{ content  }}
    {{ /partial:layout/blocks/inner }}
  </section>
{{ /if }}

{{ if type == 'horizontal_ruler' }}
  {{ partial:components/misc/hr }}
{{ /if }}

{{ if type == 'intro' }}
  {{ partial:fieldsets/intro/wrapper }}
{{ /if }}

{{ if type == 'teaser_project' }}
  {{ partial:fieldsets/teaser/portfolio/wrapper }}
{{ /if }}

{{ if type == 'teasers_expertise' }}
  {{ partial:fieldsets/teaser/expertise/wrapper }}
{{ /if }}

{{ if type == 'teaser_video' }}
  {{ partial:fieldsets/teaser/video/wrapper }}
{{ /if }}

{{ if type == 'teaser_fullscreen_image' }}
  {{ partial:fieldsets/teaser/image/wrapper }}
{{ /if }}

{{ if type == 'teaser_image_text' }}
  {{ partial:fieldsets/teaser/image_text/wrapper }}
{{ /if }}

{{ if type == 'teaser_blog' }}
  {{ partial:fieldsets/teaser/post/wrapper }}
{{ /if }}

{{ if type == 'slideshow_team' }}
  {{ partial:fieldsets/slideshow/team/wrapper }}
{{ /if }}

{{ if type == 'title_text' }}
  {{ partial:fieldsets/misc/title_text }}
{{ /if }}

{{ if type == 'jobs' }}
  {{ partial:fieldsets/misc/jobs/wrapper }}
{{ /if }}