{{ if type == 'editor' }}
  {{ content  }}
{{ /if }}

{{ if type == 'horizontal_ruler' }}
  {{ partial:components/misc/hr }}
{{ /if }}

{{ if type == 'intro' }}
  {{ partial:fieldsets/intro/wrapper }}
{{ /if }}

{{ if type == 'teaser_portfolio' }}
  {{ partial:fieldsets/teaser/portfolio/wrapper }}
{{ /if }}

{{ if type == 'teasers_expertise' }}
  {{ partial:fieldsets/teaser/expertise/wrapper }}
{{ /if }}

{{ if type == 'teaser_video' }}
  {{ partial:fieldsets/teaser/video/wrapper }}
{{ /if }}

{{ if type == 'teaser_image_text' }}
  {{ partial:fieldsets/teaser/image_text/wrapper }}
{{ /if }}

{{ if type == 'teaser_blog' }}
  {{ partial:fieldsets/teaser/blog/wrapper }}
{{ /if }}

{{ if type == 'slideshow_team' }}
  {{ partial:fieldsets/slideshow/team/wrapper }}
{{ /if }}

{{ if type == 'vision' }}
  {{ partial:fieldsets/misc/vision }}
{{ /if }}

{{ if type == 'jobs' }}
  {{ partial:fieldsets/misc/jobs/wrapper }}
{{ /if }}