{{ partial:layout/section section_theme="light" spacing="py-90 lg:py-150" fullpage="min-h-screen flex flex-col items-center justify-center py-90 lg:py-150" }}

  {{ partial:layout/container }}

    <div class="grid grid-cols-12 gap-x-20 lg:gap-x-30 xl:gap-x-50">

      <div class="col-span-full md:col-span-5 xl:col-span-4 lg:sticky lg:top-120 self-start mb-40 md:mb-0">
        {{ partial:ui/heading/h2 size="sm" class="[&_strong]:font-meta-bold text-pretty" }}
          {{ workflow_title }}
        {{ /partial:ui/heading/h2 }}

        {{ if cta_link }}
          {{ partial:ui/link/arrow url="{{ cta_link }}" label="{{ cta_button_text }}" class="inline-flex mt-15 xl:mt-30 text-sm md:text-lg xl:text-xl" }}
        {{ /if }}
      </div>

      <div class="col-span-full md:col-span-7 xl:col-span-8 md:border-l md:border-black md:pl-20 xl:pl-30">
        {{ partial:ui/accordion/wrapper class="!border-none flex flex-col gap-y-30 xl:gap-y-45" }}
          {{ phases }}
            {{ partial:fieldsets/workflow/phase index="{{ index }}" }}
          {{ /phases }}
        {{ /partial:ui/accordion/wrapper }}
      </div>

    </div>

  {{ /partial:layout/container }}

{{ /partial:layout/section }}
