<div class="shrink-0 flex items-center justify-center px-30 sm:px-40 xl:px-60" {{ if aria_hidden }} aria-hidden="true"{{ /if }}>
  {{ if url }}
    <a 
      href="{{ url }}" 
      target="_blank" 
      rel="noopener noreferrer" 
      title="{{ title }}" 
      class="block transition-opacity hover:opacity-60" {{ if aria_hidden }} tabindex="-1"{{ /if }}>
      <img
        src="{{ image:url }}"
        alt="{{ if aria_hidden }}{{ else }}{{ title }}{{ /if }}"
        class="block h-90 sm:h-120 xl:h-150 w-auto object-contain select-none"
        draggable="false"
        loading="lazy">
    </a>
  {{ else }}
    <img
      src="{{ image:url }}"
      alt="{{ if aria_hidden }}{{ else }}{{ title }}{{ /if }}"
      class="block h-90 sm:h-120 xl:h-150 w-auto object-contain select-none"
      draggable="false"
      loading="lazy">
  {{ /if }}
</div>
