<figure>
  <picture>
    <source media="(min-width: 1280px)" srcset="{{ glide:image preset='2xl-webp' }}" type="image/webp">
    <source media="(min-width: 1024px)" srcset="{{ glide:image preset='xl-webp' }}" type="image/webp">
    <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg-webp' }}" type="image/webp">
    <source srcset="{{ glide:image preset='md-webp' }}" type="image/webp">
    <source media="(min-width: 1280px)" srcset="{{ glide:image preset='2xl' }}" type="image/jpeg">
    <source media="(min-width: 1024px)" srcset="{{ glide:image preset='xl' }}" type="image/jpeg">
    <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg' }}" type="image/jpeg">
    <img 
      src="{{ glide:image preset='md' }}" 
      alt="{{ image:alt }}" 
      title="{{ image:alt }}" 
      height="{{ image:height }}" 
      width="{{ image:width }}"
      class="block w-full h-auto {{ imageClass ?? '' }}"
      loading="lazy">
  </picture>
  <figcaption class="text-tiny sm:text-xxs md:text-xs mt-5 lg:mt-10 flex gap-x-10 lg:gap-x-15">
    {{ if count }}
      <div>1 | {{ count }}</div>
    {{ /if }}
    {{ if image:alt }}
      <div>{{ image:alt }}</div>
    {{ /if }}
  </figcaption>
</figure>