<footer class="bg-white {{ is_fullpage ? 'snap-center snap-always pb-80' : 'py-80 xl:pt-240' }}">
  {{ partial:layout/blocks/inner }}
    <div class="grid grid-cols-12 gap-x-20">
      <div class="col-span-12 lg:col-span-6 lg:order-2 mb-60 lg:mb-0 flex flex-col justify-center">
        <div class="flex flex-col items-center gap-y-15">
          {{ settings_contact_slogan ?? contact_slogan:text }}
          {{ partial:components/buttons/contact title="{{ "Kontakt aufnehmen" | trans }}" url="{{ link id="2d95afd4-22c4-431d-aea3-3d08d2abcd38" }}" }}
        </div>
      </div>
      <div class="col-span-8 lg:col-span-3 lg:order-1 flex flex-col justify-between">
        <div>
          <strong>{{ contact_info:name }}</strong>
        </div>
        <address class="not-italic">
          {{ contact_info:address | nl2br }}
        </address>
        <div>
          <a 
            href="tel:{{ contact_info:phone }}"
            title="{{ "Rufen Sie uns an" | trans }}"
            target="_blank"
            class="hover:text-graphite transition-colors">
            {{ contact_info:phone }}
          </a>
          <br>
          <a 
            href="mailto:{{ contact_info:email }}"
            title="{{ "E-Mail senden" | trans }}"
            target="_blank"
            class="hover:text-graphite transition-colors">
            {{ contact_info:email }}
          </a>
        </div>
      </div>
      <div class="col-span-4 lg:col-span-3 lg:order-3">
        {{ partial:menu/footer/wrapper }}
      </div>
    </div>

    <div class="flex justify-between items-start md:items-center md:grid md:grid-cols-12 md:gap-x-20 mt-40 0">
      <div class="md:col-span-4 flex flex-col text-mini xl:text-xs font-meta-medium">
          &copy; {{ current_date | format('Y') }} {{ config:app:name }}
          <div class="md:hidden mt-5">
            {{ partial:menu/privacy/wrapper }}
          </div>
      </div>
      <div class="md:col-span-4">
        {{ partial:components/misc/social-media-channels class="flex justify-center" }}
      </div>
      <div class="hidden md:col-span-4 md:flex md:justify-end text-mini xl:text-xs font-meta-medium leading-none">
        {{ partial:menu/privacy/wrapper }}
      </div>
    </div>
    
  {{ /partial:layout/blocks/inner }}
</footer>
{{ partial:components/gdpr }}
{{ vite src="resources/js/app.js" }}
{{ if is_fullpage }}
  {{ vite src="resources/js/snap.js" }}
{{ /if }}
{{ vite src="resources/js/gdpr.js" }}

{{# <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34204366-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-955508243');
  gtag('config', 'UA-34204366-1');
</script> #}}

{{# 
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '1990437854434750'); 
 fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1"src="https://www.facebook.com/tr?id=299792900694480&ev=PageView&noscript=1"/></noscript>
<script type="text/javascript"> _linkedin_partner_id = "1839489"; window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; window._linkedin_data_partner_ids.push(_linkedin_partner_id); </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=1839489&fmt=gif" /> </noscript> #}}
