{{# <footer>
  {{ partial:layout/inner }}
    <address class="not-italic">
      {{ if contact_info:address }}
        <div>{{ contact_info:address | nl2br }}</div>
      {{ /if }}
        T <a href="tel:{{ contact_info:phone }}" title="Rufen Sie uns an">{{ contact_info:phone }}</a>,
        <a href="mailto:{{ contact_info:email }}" title="E-Mail schreiben">{{ contact_info:email }}</a>
    </address>

    <div>
      <nav>
        <ul>
          {{ if contact_info:google_maps_url }}
            <li>
              <a href="{{ contact_info:google_maps_url }}" title="Standort auf Google Maps anzeigen" target="_blank" class="group">
                Google Maps
              </a>
            </li>
          {{ /if }}
          {{ if social_media_accounts:publish && social_media_accounts:instagram }}
            <li>
              <a href="{{ social_media_accounts:instagram }}" title="Besuchen Sie unser Instagram Profil" target="_blank" class="group">
                {{ partial:icons/instagram class="block w-30 md:w-35 lg:w-45 h-auto group-hover:text-silver transition-colors" }}
              </a>
            </li>
          {{ /if }}
        </ul>
      </nav>
    </div>

    <div class="flex gap-x-10 lg:gap-x-15 mt-15 lg:mt-20">
      <a href="/impressum" title="Impressum" class="text-tiny sm:text-xxs md:text-xs underline hover:no-underline underline-offset-4 decoration-1">
        Impressum
      </a>
      <a href="/datenschutz" title="Datenschutz" class="text-tiny sm:text-xxs md:text-xs underline hover:no-underline underline-offset-4 decoration-1">
        Datenschutz
      </a>
    </div>

  {{ /partial:layout/inner }}
</footer> #}}
