<header 
  id="header"
  class="fixed left-0 top-0 z-70 w-full py-30 xl:pt-60" 
  data-icon-theme="{{ theme ?? 'light' }}"
  {{ if is_fullpage && theme == 'dark' }}
    data-video-animation='introHeader'
  {{ /if }}
  >
  {{ partial:layout/blocks/inner class="flex items-center justify-between" }}
    <a 
      href="{{ site:url }}" 
      title="Home"
      :class="{ 'is-active': menu === true }"
      class="group">
      {{ if is_homepage }}
        {{ partial:components/icons/logo-byline class="w-auto h-29 xl:h-35" }}
      {{ else }}
        {{ partial:components/icons/logo class="w-auto h-29 xl:h-35" }}
      {{ /if }}
    </a>
    {{ if show_portfolio_filter || (segment_1 == 'portfolio' && (segment_2 == 'category' || segment_2 == 'kategorie'))}}
      {{ partial:components/filters/wrapper }}
        {{ partial:components/filters/portfolio }}
      {{ /partial:components/filters/wrapper }}
    {{ /if }}
    {{ if show_team_filter }}
      {{ partial:components/filters/wrapper }}
        {{ partial:components/filters/team }}
      {{ /partial:components/filters/wrapper }}
    {{ /if }}

    <div 
      class="relative"
      x-on:mouseleave="quickMenu = false">
      <a 
        href="javascript:;" 
        x-on:click="menu = ! menu"
        x-on:mouseenter="quickMenu = true"
        title="{{ "Menü anzeigen" | trans }}"
        :class="{ 'is-active': menu === true }"
        class="group">
        {{ partial:components/icons/burger class="w-28 xl:w-32 h-auto" }}
      </a>
      <div
        x-cloak
        x-show="quickMenu && !menu"
        class="hidden md:block absolute right-full -top-5 z-60 w-auto h-auto">
        <ul class="flex flex-col space-y-10  {{ theme == 'dark' ? 'text-white' : 'text-black' }} m-0 p-0 pr-20 list-none">
          {{ nav:main }}
            {{ partial:menu/main/item class="text-right" }}
          {{ /nav:main }}
        </ul>
      </div>
    </div>

  {{ /partial:layout/blocks/inner }}

</header>

{{ partial:menu/wrapper }}
