<header 
  id="header"
  class="fixed left-0 top-0 z-70 w-full pt-30 xl:pt-60 wide-narrow:pt-30" 
  data-theme="{{ theme ?? 'light' }}"
  {{ if is_fullpage && theme == 'dark' }} data-video-animation='introHeader' {{ /if }}>
  {{ partial:layout/container class="flex items-center justify-between" }}
    <a 
      href="{{ site:url }}" 
      title="Home"
      :class="{ 'is-active': menu === true }"
      class="group">
      {{ if is_homepage }}
        {{ partial:ui/icon/logo-byline class="w-auto h-29 xl:h-35" }}
      {{ else }}
        {{ partial:ui/icon/logo class="w-auto h-29 xl:h-35" }}
      {{ /if }}
    </a>

    {{ if show_portfolio_filter || (segment_1 == 'portfolio' && (segment_2 == 'category' || segment_2 == 'kategorie'))}}
      {{ partial:ui/filter/wrapper class="lg:!hidden" }}
        {{ partial:ui/filter/portfolio }}
      {{ /partial:ui/filter/wrapper }}
    {{ /if }}

    {{ if show_team_filter }}
      {{ partial:ui/filter/wrapper class="lg:!hidden" }}
        {{ partial:ui/filter/team }}
      {{ /partial:ui/filter/wrapper }}
    {{ /if }}


    <div class="flex items-center gap-x-15 lg:gap-x-45">
      <div x-show="!menu">
        <nav 
          class="hidden lg:block w-auto h-auto" 
          data-quick-menu>
          <ul class="flex space-x-15 lg:space-x-30 {{ theme == 'dark' ? 'text-white' : 'text-black' }} m-0 p-0 list-none">
            {{ nav:main }}
              {{ partial:menu/main/item class="text-right !font-meta-light no-underline hover:underline underline-offset-4 decoration-1" }}
            {{ /nav:main }}
          </ul>
        </nav>
      </div>
    
      <a
        href="javascript:;"
        role="button"
        x-on:click="menu = ! menu"
        title="{{ "Menü anzeigen" | trans }}"
        aria-label="{{ "Menü anzeigen" | trans }}"
        aria-controls="main-menu"
        :aria-expanded="menu === true ? 'true' : 'false'"
        :class="{ 'is-active': menu === true }"
        class="group">
        {{ partial:ui/icon/burger class="w-28 xl:w-32 h-auto" }}
      </a>
    </div>


  {{ /partial:layout/container }}

</header>

{{ partial:menu/wrapper }}
