<section data-section data-section-theme="{{ theme }}" class="bg-black relative {{ is_fullpage ? 'section' : 'min-h-screen' }}">
  {{ partial:components/media/video/fullscreen/wrapper }}
  {{ partial:fieldsets/intro/content }}
</section>
<script>
document.addEventListener('DOMContentLoaded', function() {
  // get the video by data-video attribute
  const video = document.querySelector('[data-video]');
  // get the title by data-title attribute
  const title = document.querySelector('[data-title]');
  // get the anchors by data-anchors attribute
  const anchors = document.querySelector('[data-anchors]');

  setTimeout(() => {
    video.addEventListener('play', (e) => {
      console.info('playing');
    });
  }, 500);

});
</script>