<section
  data-section
  data-section-theme="{{ theme }}"
  {{ is_fullpage ? 'data-section-observe data-intro-observe data-section-snap' : '' }}
  class="bg-black relative {{ is_fullpage ? 'min-h-[100dvh] sm:min-h-screen' : 'min-h-screen' }}">
  {{ if media_type == 'image' }}
    {{ if overlay != 'none' }}
      {{ partial:ui/media/overlay }}
    {{ /if }}
    {{ partial:ui/media/image/fullscreen image="{{ image }}" class="absolute z-10 left-0 top-0 w-full h-full object-cover" }}
  {{ elseif media_type == 'images' }}
    {{ if overlay != 'none' }}
      {{ partial:ui/media/overlay }}
    {{ /if }}
    {{ partial:ui/media/image/fullscreen-slideshow }}
  {{ else }}
    {{ partial:ui/media/video/fullscreen-wrapper }}
  {{ /if }}
  {{ partial:fieldsets/intro/content }}
</section>
