<!doctype html>
<html lang="{{ site:short_locale }}" class="scroll-smooth overflow-y-hidden h-screen">
<head>
<meta charset="utf-8">
<title>Nightnurse Images</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf-token" content="{{ csrf_token }}">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-light.png" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32-light.png" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16-light.png" media="(prefers-color-scheme: light)">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-dark.png" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32-dark.png" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16-dark.png" media="(prefers-color-scheme: dark)">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
{{ vite src="resources/css/app.css" }}
</head>

<body class="min-h-screen h-screen snap-y snap-mandatory overflow-y-auto scroll-smooth" x-data="{ menu: false }">



  <section class="snap-center snap-always min-h-screen bg-green-200 p-60" id="section-1">
    <p>Hello</p>
  </section>
  <section class="snap-center snap-always min-h-screen bg-red-200 p-60" id="section-2">
    <p>Hello again</p>
  </section>
  <section class="snap-center snap-always min-h-screen bg-blue-200 p-60" id="section-3">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi quidem dolorem expedita facilis quis fuga excepturi eligendi saepe cum quaerat perferendis incidunt, cumque quasi veritatis provident consequuntur recusandae! Quam.</p>
  </section>
  <section class="snap-center snap-always min-h-screen bg-yellow-200 p-60" id="section-4"></section>
  <section class="snap-center snap-always min-h-screen bg-purple-200 p-60" id="section-5"></section>
  
  {{ partial:layout/footer }}


<script>
  const sections = document.querySelectorAll('section');
  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        console.log('Section snapped:', entry.target.id);
        // Trigger your custom event here
      }
    });
  }, { threshold: 0.5 });
  
  sections.forEach(section => observer.observe(section));
  
</script>

</body>

</html>
