{{ person }}
  {{ partial:layout/container }}
    <div class="md:grid md:grid-cols-12 md:gap-30 xl:gap-50 items-center">

      <div
        class="md:col-span-6 md:order-1 mt-30 md:mt-0"
        data-animation="fadeIn_slideUp">

        {{ partial:ui/heading/h2 size="md" class="[&_strong]:font-meta-medium mb-30 xl:mb-45" }}
          {{ heading }}
        {{ /partial:ui/heading/h2 }}

        {{ if position }}
          {{ position }}
        {{ /if }}

        <div class="font-meta-medium">
          {{ partial:ui/contact-links email="{{ email }}" phone="{{ phone }}" title="{{ title }}" }}
        </div>

        {{ if cta_link }}
          {{ partial:ui/link/arrow url="{{ cta_link }}" label="{{ cta_button_text }}" class="inline-flex mt-30 xl:mt-45 text-sm md:text-md xl:text-lg" icon_class="w-20 xl:w-28 h-auto group-hover:translate-x-12 transition-transform" }}
        {{ /if }}
      </div>

      <div
        class="md:col-span-6 md:order-2 mt-20"
        data-animation="fadeIn"
        data-animation-duration="slow">
        {{ partial:ui/media/image/image image="{{ image }}" class="w-full h-auto" }}
      </div>

    </div>
  {{ /partial:layout/container }}
{{ /person }}
