{{ person }}
  <div class="sm:grid sm:grid-cols-12 sm:gap-30 {{ type == 'portrait' ? '2xl:gap-50' : 'lg:gap-30' }} border-y border-black py-20 lg:py-30">

    <div class="sm:col-span-5 {{ type == 'portrait' ? 'lg:col-span-12 2xl:col-span-6' : 'lg:col-span-full' }}">
      {{ partial:components/media/image/image image="{{ image }}" class="w-full h-auto" }}
    </div>

    <div class="sm:col-span-7 {{ type == 'portrait' ? 'lg:col-span-12 2xl:col-span-6' : 'lg:col-span-full' }} mt-30 sm:mt-0">

      <div class="font-meta-medium mb-15 xl:mb-20">
        {{ "Planen Sie ein ähnliches Projekt?" | trans }}
      </div>

      {{ partial:components/headings/h2 is_project="true" class="text-xl md:text-2xl xl:text-4xl !leading-[1.2] !font-meta-light [&_strong]:!font-meta-medium mb-20 xl:mb-30 text-pretty" }}
        {{ heading }}
      {{ /partial:components/headings/h2 }}

      {{ if position }}
        <div>
          {{ position }}
        </div>
      {{ /if }}

      {{ if email }}
        <a
          href="mailto:{{ email }}"
          title="{{ "E-Mail" | trans }} {{ title }}"
          class="block  no-underline hover:underline hover:underline-offset-8 hover:decoration-1">
          {{ email }}
        </a>
      {{ /if }}

      {{ if phone }}
        <a
          href="tel:{{ phone }}"
          title="{{ "Telefon Nr." | trans }} {{ title }}"
          class="block  no-underline hover:underline hover:underline-offset-8 hover:decoration-1">
          {{ phone }}
        </a>
      {{ /if }}

      {{ if cta_link }}
        <a
          href="{{ cta_link }}"
          class="text-sm md:text-xl font-meta-medium uppercase tracking-wider flex items-center gap-x-10 group mt-20 xl:mt-30"
          title="{{ cta_button_text }}">
          {{ partial:components/icons/arrow-right-long class="w-24 xl:w-32 h-auto group-hover:translate-x-6 transition-transform" }}
          <span class="group-hover:translate-x-6 transition-transform">{{ cta_button_text }}</span>
        </a>
      {{ /if }}

    </div>

  </div>
{{ /person }}
