@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "typo/webfonts.css";
@import "components/headings.css";
@import "components/video.css";
@import "utils.css";

* {
  font-variant-ligatures: none;
}

html {
  font-feature-settings: 'kern'; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
}

strong {
  @apply font-meta-medium font-medium
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-30%);
  }
}

.fade-out-left {
  animation: fadeOutLeft .5s ease-out 9s forwards;
}

/* @keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInLeft .5s ease-out 1s forwards;
  opacity: 0;
  transform: translateX(-100%);
}

.slide-in-right {
  animation: slideInRight .5s ease-out 1s forwards;
  opacity: 0;
  transform: translateX(100%);
} */
