@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "typo/webfonts.css";

/* @import "animations/fadeIn_slideInLeft.css";
@import "animations/fadeIn_slideUp.css";
@import "animations/fadeIn_slideInRight.css";
@import "animations/fadeIn.css";
@import "animations/intro.css";
@import "animations/masonry.css"; */

@import "components/headings.css";
@import "components/forms.css";
@import "components/image.css";
@import "components/swiper.css";
@import "components/theme.css";
@import "components/media.css";

@import "utils.css";

@import "views/posts.css";
@import "views/privacy.css";
@import "vendor/fullpage.css";

* {
  font-variant-ligatures: none;
}

html {
  font-feature-settings: 'kern'; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  @apply font-meta-medium font-medium
}

section p:not(:last-of-type) {
  @apply mb-20 xl:mb-30
}

section ul:not(nav ul) {
  @apply p-0 m-0 list-square
}

section ul:not(nav ul) li::marker {
  @apply text-xxs
}

section ul:not(:last-child) {
  @apply mb-20 xl:mb-30;
}

section ul li:not(nav ul li) {
  @apply ml-18
}