<section data-section data-section-theme="light" class="pt-90 lg:pt-150">
  {{ partial:layout/blocks/inner }}
    <article class="max-w-content mx-auto">
      {{ partial:ui/heading/h1 size="lg" class="mb-15 xl:mb-30" }}
        {{ title }}
      {{ /partial:ui/heading/h1 }}
      <div class="text-md lg:text-lg xl:text-2xl mb-30 xl:mb-60">
        {{ lead }}
      </div>
      {{ content }}
    </article>
    <div class="mt-30 xl:mt-60">
      {{ partial:ui/button/back title="{{ "Zurück" | trans }}" url="javascript:history.back();" }}
    </div>
  {{ /partial:layout/blocks/inner }}
</section>