<nav class="text-xxs lg:text-xs {{ class }}">
  <ul class="flex flex-wrap">
    {{ nav:breadcrumbs }}
      {{ partial:menu/breadcrumbs/item }}
    {{ /nav:breadcrumbs }}
  </ul>
</nav>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {{ nav:breadcrumbs }}
    {
      "@type": "ListItem",
      "position": {{ count }},
      "name": {{ title | to_json }},
      "item": "{{ permalink }}"
    }{{ if !last }},{{ /if }}
    {{ /nav:breadcrumbs }}
  ]
}
</script>