{{ partial:layout/blocks/inner }}
  {{ if feature_image }}
    {{ partial:components/project/media/feature layout="{{ feature_layout }}" }}
  {{ /if }}
  {{ partial:menu/breadcrumbs/wrapper class="hidden md:block mt-45 xl:mt-150" }}
  <div class="mt-45 xl:mt-30">
    <div class="md:grid md:grid-cols-12 md:gap-x-20 lg:gap-x-30 xl:gap-x-50">
      <div class="md:col-span-7">
        {{ partial:components/project/elements/title }}
        {{ if summary }}
          <div class="mt-30 xl:mt-45">
            {{ partial:components/project/elements/summary }}
          </div>
        {{ /if }}
      </div>
      <div class="mt-30 md:mt-0 xl:mt-4 md:col-span-4 md:col-start-9">
        {{ if services }}
          {{ partial:components/project/elements/services }}
        {{ /if }}
        <div class="{{ services ? 'mt-30 xl:mt-45' : '' }}">
          {{ partial:components/project/elements/tags }}
        </div>
      </div>
    </div>
  </div>
{{ /partial:layout/blocks/inner }}
