@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* initial state */
[data-animation="fadeIn"],
[data-video-animation="fadeIn"] {
  opacity: 0;
}

/* active state */
.active [data-animation="fadeIn"],
.running [data-video-animation="fadeIn"] {
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-delay: .75s;
}

.active [data-animation="fadeIn"][data-animation-duration="slow"],
.running [data-video-animation="fadeIn"][data-video-animation-duration="slow"] {
  animation-duration: 1.25s;
}

.active [data-animation="fadeIn"][data-animation-duration="fast"],
.running [data-video-animation="fadeIn"][data-video-animation-duration="fast"] {
  animation-duration: .75s;
}

.active [data-animation="fadeIn"][data-animation-delay="long"],
.running [data-video-animation="fadeIn"][data-video-animation-delay="long"] {
  animation-delay: 1s;
}

/* visited state */
.visited [data-animation="fadeIn"],
.visited [data-video-animation="fadeIn"] {
  animation: none;
  opacity: 1;
}