@keyframes slideInRight {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* initial state */
[data-animation="fadeIn_slideInRight"],
[data-animation-lg="fadeIn_slideInRight"] {
  transform: translateX(20%);
  opacity: 0;
}

/* active state */
.active [data-animation="fadeIn_slideInRight"] {
  animation-fill-mode: forwards;
  animation-name: slideInRight, fadeIn;
  animation-delay: .75s;
  animation-duration: .75s, 1.25s;
}

/* add media query for 1024px */
@media (min-width: 1024px) {
  .active [data-animation-lg="fadeIn_slideInRight"] {
    animation-fill-mode: forwards;
    animation-name: slideInRight, fadeIn !important;
    animation-delay: 1s;
    animation-duration: .75s, 1.25s;
  }
}

.active [data-animation="fadeIn_slideInRight"][data-animation-delay="long"],
.active [data-animation-lg="fadeIn_slideInRight"][data-animation-delay="long"] {
  animation-delay: 1s;
}

/* visited state */
.visited [data-animation="fadeIn_slideInRight"],
.visited [data-animation-lg="fadeIn_slideInRight"] {
  animation: none;
  transform: translateX(0);
  opacity: 1;
}