@keyframes slideInRight {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* initial state */
[data-animation="fadeIn_slideInRight"],
[data-animation-lg="fadeIn_slideInRight"] {
  transform: translateX(20%);
  opacity: 0;
}

/* active state */
.is-active [data-animation="fadeIn_slideInRight"] {
  animation-fill-mode: forwards;
  animation-name: slideInRight, fadeIn;
  animation-delay: .25s;
  animation-duration: .75s, 1.25s;
  animation-iteration-count: 1;
}

/* add media query for 1024px */
@media (min-width: 1024px) {
  .is-active [data-animation-lg="fadeIn_slideInRight"] {
    animation-fill-mode: forwards;
    animation-name: slideInRight, fadeIn !important;
    animation-delay: .5s;
    animation-duration: .75s, 1.25s;
    animation-iteration-count: 1;
  }
}

.is-active [data-animation="fadeIn_slideInRight"][data-animation-delay="long"],
.is-active [data-animation-lg="fadeIn_slideInRight"][data-animation-delay="long"] {
  animation-delay: .5s;
}

/* visited state */
.is-visited [data-animation="fadeIn_slideInRight"],
.is-visited [data-animation-lg="fadeIn_slideInRight"] {
  animation: none;
  transform: translateX(0);
  opacity: 1;
}