@keyframes fadeIn_slideUp {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* initial state */
[data-animation="fadeIn_slideUp"] {
  transform: translateY(10%);
  opacity: 0;
}

/* active state */
.is-active [data-animation="fadeIn_slideUp"] {
  animation-fill-mode: forwards;
  animation-name: fadeIn_slideUp, fadeIn;
  animation-delay: 1s;
  animation-duration: .75s, 1.25s;
  animation-iteration-count: 1;
}

/* visited state */
.is-visited [data-animation="fadeIn_slideUp"] {
  animation: none;
  opacity: 1;
  transform: translateY(0);
}