@keyframes slideDownMenu {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

[data-menu-animation="appear"] {
  @apply -translate-y-40 opacity-0
}

/* active state */
.is-active [data-menu-animation="appear"] {
  animation-fill-mode: forwards;
  animation-name: fadeInMenu, slideDownMenu;
  animation-delay: .5s;
  animation-duration: 1s;
}