/* @keyframes slideInLeft {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
} */

/* @keyframes slideUp {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
} */

@keyframes slideDownMenu {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* initial state */
/* [data-menu-animation="fadeIn"] {
  opacity: 0;
}

[data-menu-animation="fadeIn"] {
  opacity: 0;
}

[data-menu-animation="fadeIn_slideUp"] {
  opacity: 0;
} */

[data-menu-animation="appear"] {
  @apply -translate-y-[40px] opacity-0
}

/* active state */
.is-active [data-menu-animation="appear"] {
  animation-fill-mode: forwards;
  animation-name: fadeInMenu, slideDownMenu;
  animation-delay: .5s;
  animation-duration: 1s;
}

/* .is-active [data-menu-animation="fadeIn"] {
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-delay: 1.25s;
  animation-duration: 1.25s;
}

.is-active [data-menu-animation="fadeIn_slideUp"] {
  animation-fill-mode: forwards;
  animation-name: slideUp, fadeIn;
  animation-delay: 1.25s;
  animation-duration: .75s, 1.25s;
} */