{{ partial:layout/blocks/inner }}
  <section class="grid grid-cols-12 gap-20 xl:gap-50 mt-100 xl:mt-200">
    <article class="content col-span-full md:col-span-8 xl:col-start-2">
      {{ page_elements }}
        {{ content }}
      {{ /page_elements }}
    </article>
  </section>
  <section class="grid grid-cols-12 gap-20 xl:gap-50 mt-45 md:mt-60 xl:mt-120">
    <div class="col-span-full xl:col-span-4 order-3 md:order-3 xl:order-1  xl mt-45 xl:mt-0">
      <div class="min-h-[320px] xl:min-h-[400px]" id="map"></div>
    </div>
    <div class="col-span-full md:col-span-4 xl:col-span-3 order-1 md:order-1 xl:ml-0">
      <div>
        <strong>{{ contact_info:name }}</strong>
      </div>
      <address class="not-italic mt-15 xl:mt-30">
        <a 
          href="https://maps.app.goo.gl/K69DRCSEf2mpLJia7" 
          target="_blank" 
          rel="noopener" 
          title="{{ "Auf Google Maps anzeigen" | trans }}"
          class="hover:text-graphite transition-colors">
          {{ contact_info:address | nl2br }}
        </a>
      </address>
      <div class="mt-15 xl:mt-30">
        <a 
          href="tel:{{ contact_info:phone }}"
          title="{{ "Rufen Sie uns an" | trans }}"
          target="_blank"
          class="hover:text-graphite transition-colors">
          {{ contact_info:phone }}
        </a>
        <br>
        <a 
          href="mailto:{{ contact_info:email }}"
          title="{{ "E-Mail senden" | trans }}"
          target="_blank"
          class="hover:text-graphite transition-colors">
          {{ contact_info:email }}
        </a>
      </div>
      <div class="mt-30 xl:mt-60">
        {{ partial:components/misc/social-media-channels }}
      </div>
    </div>
    <div class="col-span-full md:col-span-8 xl:col-span-5 order-2 md:order-2 mt-45 md:mt-0">
      {{ partial:components/forms/contact }}
    </div>
  </section>
{{ /partial:layout/blocks/inner }}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCE1Y9Wa3ok7X-l7YUNJ8DMGf-DhAvvg3k&loading=async"></script>
{{ vite src="resources/js/map.js" }}