
<div class="relative w-full">
  <div class="swiper !w-full !h-screen js-swiper-page">
    <div class="swiper-wrapper">
      {{ page_elements }}
        <div class="swiper-slide !min-h-screen  overflow-hidden">
          {{ partial:elements }}
        </div>
      {{ /page_elements }}
      <div class="swiper-slide h-auto">
        <section data-section-theme="light" class="{{ is_fullpage ? 'md:snap-center' : '' }}">
          {{ partial:layout/footer }}
        </section>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

</div>
{{ vite src="resources/js/app.js" }}