<section 
  data-section 
  data-section-theme="light" 
  class="pt-90 lg:pt-150">
  {{ partial:layout/container }}

  <div class="grid grid-cols-12 gap-x-20 lg:gap-x-30 xl:gap-x-50 mb-30 xl:mb-60">
    <div
      data-reveal
      data-animation="revealUp"
      class="col-span-full md:col-span-7 xl:col-span-5">
      {{ partial:ui/heading/h1 size="none" class="text-3xl md:text-5xl xl:text-7xl leading-[1.2] text-pretty hyphens-auto" }}
        {{ team_title ?? title }}
      {{ /partial:ui/heading/h1 }}
    </div>
  </div>

  {{ partial:ui/filter/wrapper class="hidden lg:flex lg:mb-20" }}
    {{ partial:ui/filter/team }}
  {{ /partial:ui/filter/wrapper }}

  <div class="grid grid-cols-6 md:grid-cols-12 gap-20 md:gap-30 xl:gap-50">
    {{ collection from="team" sort="order" }}
      <div 
        data-filter-category="{{ category }}{{ slug }}{{ if !last }},{{/if}}{{ /category }}"
        class="col-span-full sm:col-span-3 md:col-span-6 lg:col-span-4">
        {{ partial:content/team/elements/card link="true" overlay="true" lazyload="true" }}
      </div>
    {{ /collection }}
  </div>
  {{ /partial:layout/container }}
</section>
