<section 
  data-section 
  data-section-theme="light" 
  class="pt-90 lg:pt-150">
  {{ partial:layout/blocks/inner }}

  {{ partial:components/filters/wrapper class="hidden lg:flex lg:mb-20" }}
    {{ partial:components/filters/team }}
  {{ /partial:components/filters/wrapper }}

  <div class="grid grid-cols-6 md:grid-cols-12 gap-20 md:gap-30 xl:gap-50">
    {{ collection from="team" }}
      <div 
        data-filter-category="{{ category }}{{ slug }}{{ if !last }},{{/if}}{{ /category }}"
        class="col-span-full sm:col-span-3 md:col-span-6 lg:col-span-4">
        {{ partial:components/team/elements/card link="true" overlay="true" lazyload="true" }}
      </div>
    {{ /collection }}
  </div>
  {{ /partial:layout/blocks/inner }}
</section>
