<section data-section data-section-theme="light" class="pt-90 sm:pt-120 lg:pt-150 {{ is_fullpage ? 'md:snap-center' : '' }}">
  {{ partial:layout/blocks/inner }}
    <div class="md:grid md:grid-cols-12 md:gap-x-20 lg:gap-x-30 xl:gap-x-50">
      <div class="md:col-span-6 flex flex-col justify-between">
        {{ partial:menu/breadcrumbs/wrapper }}
        {{ if quote }}
          <div class="text-4xl lg:text-6xl xl:text-7xl order-1 leading-[1.33] mb-45 md:mb-0">
            {{ quote }}
          </div>
        {{ /if }}
        <div class="order-2 mb-45 md:mb-0">
          <h1 class="font-meta-medium">
            {{ title }}
          </h1>
          {{ if position }}
            {{ position }}
          {{ /if }}
          {{ if email || phone }}
            <div class="font-meta-medium xl:mt-25">
              {{ if email }}
                <a href="mailto:{{ email }}" 
                  title="{{ "E-Mail an" | trans }} {{ title }}"
                  class="no-underline block">
                  {{ email}}
                </a>
              {{ /if }}
              {{ if phone }}
                <a href="tel:{{ phone }}" 
                  title=" {{ title }} {{ "anrufen" | trans }}"
                  class="no-underline block">
                  {{ phone }}
                </a>
            {{ /if }}
            </div>
          {{ /if }}
        </div>
      </div>
      <div class="md:col-span-6 flex justify-end">
        <figure>
          {{ partial:components/team/media/portrait overlay="false" link="false" }}
        </figure>
      </div>
      <div class="md:col-span-8 md:col-start-4 mt-60 sm:mt-120 md:mt-90 xl:mt-150">
        {{ text }}
      </div>
    </div>
  {{ /partial:layout/blocks/inner }}
</section>

<section data-section data-section-theme="light" class="pt-90 md:pt-120">
  <div class="md:px-80 xl:px-100 3xl:px-100 max-w-site mx-auto">
    <div class="mb-30 pl-35 sm:pl-80 md:pl-0">
      {{ partial:components/buttons/back title="{{ "Zurück zum Team" | trans }}" url="{{ link id="da3064ef-0ff3-40b8-8ea7-12771204c109" }}" }}
    </div>
    {{ partial:components/swiper/wrapper }}
      {{ partial:components/swiper/container class="js-swiper-team" navigation="false" }}
        {{ collection from="team" sort="random" limit="3" slug:not_in="{{ slug }}" }}
          {{ partial:components/swiper/slide class="md:max-w-none swiper-slide--mute-inactive" }}
            {{ partial:components/team/elements/card link="true" overlay="true" }}
          {{ /partial:components/swiper/slide }}
        {{ /collection }}
      {{ /partial:components/swiper/container }}
    {{ /partial:components/swiper/wrapper }}
  </div>
</section>
