{{ form:contact_form class="" }}

  {{ if errors }}
    {{ partial:components/forms/elements/errors }}
  {{ /if }}

  {{ if success }}
    {{ partial:components/forms/elements/success }}
      Vielen Dank für Ihre Anfrage.
    {{ /partial:components/forms/elements/success }}
  {{ /if }}

  <input type="text" name="webs1te" class="hidden" />
  <div class="space-y-30 xl:space-y-45">
    <div class="">
      <input type="text" name="name" value="" placeholder="{{ "Name" | trans }}">
    </div>
    <div class="">
      <input type="email" name="email" value="" placeholder="{{ "E-Mail" | trans }}">
    </div>
    <div class="">
      <input type="tel" name="phone" value="" placeholder="{{ "Telefon" | trans }}">
    </div>
    <div class="mt-15 xl:mt-30">
      <textarea name="message" rows="5" placeholder="{{ "Ihre Nachricht" | trans }}"></textarea>
    </div>
        
    <div class="mt-30 flex justify-end">
      <button class="uppercase font-meta-medium text-xs md:text-md flex items-center leading-none group gap-x-10 xl:gap-x-15">
        {{ partial:components/icons/arrow-right-short class="w-16 xl:w-20 h-auto group-hover:translate-x-4 transition-transform" }}
        <span class="group-hover:translate-x-8 transition-transform">Senden</span>
      </button>
    </div>

  </div>


{{ /form:contact_form }}