  <figure
    class="block {{ aspectRatio ?? '' }}"
    data-touch>
    <picture>
      <source media="(min-width: 1024px)" srcset="{{ glide:img preset='2xl-webp' }}" type="img/webp">
      <source media="(min-width: 768px)" srcset="{{ glide:img preset='xl-webp' }}" type="img/webp">
      <source srcset="{{ glide:img preset='lg-webp' }}" type="img/webp">
      <source media="(min-width: 768px)" srcset="{{ glide:img preset='xl' }}" type="img/jpeg">
      <img
        src="{{ glide:img preset='lg' }}"
        alt="{{ alt }}"
        title="{{ alt }}"
        height="{{ height }}"
        width="{{ width }}"
        class="block w-full {{ aspectRatio ? 'h-full object-cover' : 'h-auto' }} {{ imgClass ?? '' }}"
        loading="lazy">
    </picture>
    {{ if title }}
      <figcaption
        class="pt-10 md:pt-15">
        <h3 class="font-meta-medium mb-2">
          {{ title }}
        </h3>
        {{ if teaser }}
          <div class="text-sm xl:text-md leading-[1.35]">
            {{ teaser }}
          </div>
        {{ /if }}
        {{ if url }}
          <div class="mt-15 md:mt-20">
            {{ partial:ui/button/more title="{{ "Zum Projekt" | trans }}" url="{{ url }}" }}
          </div>
        {{ /if }}
      </figcaption>
    {{ /if }}
  </figure>
