<section data-section-theme="light" class="relative md:min-h-screen {{ is_fullpage ? 'md:snap-start' : '' }}">
  {{ partial:components/misc/anchor anchor="{{ anchor }}" }}
  {{ partial:layout/blocks/inner }}

    {{ if mirrored }}
      <div class="grid grid-cols-12 gap-x-20 xl:gap-x-50 pt-90 xl:pt-150 py-90 xl:py-150">
        <div class="col-span-full md:col-span-8">
          {{ if items:tr_image }}
            <div class="w-full mb-15 relative pl-30 lg:max-w-[90%] xl:max-w-none md:-translate-x-[50px] xl:-translate-x-[110px]">
              {{ partial:fieldsets/teaser/portfolio/item 
                url="{{ items:tr_link:url }}" 
                title="{{ items:tr_link:title }}" 
                img="{{ items:tr_image }}" 
                height="{{ items:tr_image:height }}" 
                width="{{ items:tr_image:width }}" 
                aspectRatio="aspect-[1120/844]"
                alt="{{ items:tr_image:alt }}" }}
            </div>
          {{ /if }}

          {{ if items:br_image }}
            <div class="w-full relative mb-15 md:mb-0 md:mt-45 xl:mt-120 md:ml-50 pr-60 md:max-w-[80%] lg:max-w-[60%] xl:max-w-[70%]">
              {{ partial:fieldsets/teaser/portfolio/item 
                url="{{ items:br_link:url }}" 
                title="{{ items:br_link:title }}" 
                img="{{ items:br_image }}" 
                height="{{ items:br_image:height }}" 
                width="{{ items:br_image:width }}" 
                aspectRatio="aspect-[840/1151]"
                alt="{{ items:br_image:alt }}" }}
            </div>
          {{ /if }}


        </div>
        <div class="col-span-full md:col-span-4">
          <div class="mb-45 md:mb-60 lg:mb-90 xl:mb-175 xl:max-w-[400px]">
            {{ partial:components/headings/h2 class="mb-10 xl:mb-30" }}
              {{ teaser_project_title }}
            {{ /partial:components/headings/h2 }}
            {{ partial:components/buttons/more title="{{ "Zum Portfolio" | trans }}" url="{{ link id="6dc5a5ba-4450-45c6-9684-53b3a8bb4261" }}" }}
          </div>
          {{ if items:tl_image }}
            <div class="w-full mb-15 md:mb-0 relative -translate-x-[30px] md:-translate-x-[145px]">
              {{ partial:fieldsets/teaser/portfolio/item 
                url="{{ items:tl_link:url }}" 
                title="{{ items:tl_link:title }}" 
                img="{{ items:tl_image }}"
                height="{{ items:tl_image:height }}" 
                width="{{ items:tl_image:width }}" 
                aspectRatio="aspect-[625/866]"
                alt="{{ items:tl_image:alt }}" }}
            </div>
          {{ /if }}
          {{ if items:bl_image }}
            <div class="w-full mb-15 md:mb-0 md:mt-20 relative -translate-x-[35px] md:-translate-x-[0px] xl:-translate-x-[340px]">
              {{ partial:fieldsets/teaser/portfolio/item 
                url="{{ items:bl_link:url }}" 
                title="{{ items:bl_link:title }}" 
                img="{{ items:bl_image }}"
                height="{{ items:bl_image:height }}" 
                width="{{ items:bl_image:width }}" 
                aspectRatio="aspect-square"
                alt="{{ items:bl_image:alt }}" }}
            </div>
          {{ /if }}
        </div>
      </div>
    {{ else }}
      <div class="grid grid-cols-12 gap-x-20 xl:gap-x-50 pt-90 xl:pt-150 py-90 xl:py-150">
        <div class="col-span-full md:col-span-4">
          <div class="mb-45 md:mb-60 lg:mb-90 xl:mb-175 xl:max-w-[400px]">
            {{ partial:components/headings/h2 class="mb-10 xl:mb-30" }}
              {{ teaser_project_title }}
            {{ /partial:components/headings/h2 }}
            {{ partial:components/buttons/more title="{{ "Zum Portfolio" | trans }}" url="{{ link id="6dc5a5ba-4450-45c6-9684-53b3a8bb4261" }}" }}
          </div>
          {{ if items:tl_image }}
            <div class="w-full mb-15 md:mb-0 relative translate-x-[30px] md:-translate-x-[50px]">
              {{ partial:fieldsets/teaser/portfolio/item 
                url="{{ items:tl_link:url }}" 
                title="{{ items:tl_link:title }}" 
                img="{{ items:tl_image }}"
                height="{{ items:tl_image:height }}" 
                width="{{ items:tl_image:width }}" 
                aspectRatio="aspect-[625/866]"
                alt="{{ items:tl_image:alt }}" }}
            </div>
          {{ /if }}
          {{ if items:bl_image }}
            <div class="w-full mb-15 md:mb-0 md:mt-20 relative -translate-x-[35px] md:-translate-x-[0px] xl:translate-x-[30px]">
              {{ partial:fieldsets/teaser/portfolio/item 
                url="{{ items:bl_link:url }}" 
                title="{{ items:bl_link:title }}" 
                img="{{ items:bl_image }}"
                height="{{ items:bl_image:height }}" 
                width="{{ items:bl_image:width }}" 
                aspectRatio="aspect-square"
                alt="{{ items:bl_image:alt }}" }}
            </div>
          {{ /if }}
        </div>
        <div class="col-span-full md:col-span-8">
          {{ if items:tr_image }}
            <div class="w-full mb-15 relative pl-30 lg:max-w-[90%] xl:max-w-none md:-translate-x-[50px] xl:-translate-x-[110px]">
              {{ partial:fieldsets/teaser/portfolio/item 
                url="{{ items:tr_link:url }}" 
                title="{{ items:tr_link:title }}" 
                img="{{ items:tr_image }}" 
                height="{{ items:tr_image:height }}" 
                width="{{ items:tr_image:width }}" 
                aspectRatio="aspect-[1120/844]"
                alt="{{ items:tr_image:alt }}" }}
            </div>
          {{ /if }}
          {{ if items:br_image }}
            <div class="w-full relative mb-15 md:mb-0 md:mt-45 xl:mt-120 md:ml-50 pr-60 md:max-w-[80%] lg:max-w-[60%] xl:max-w-[70%]">
              {{ partial:fieldsets/teaser/portfolio/item 
                url="{{ items:br_link:url }}" 
                title="{{ items:br_link:title }}" 
                img="{{ items:br_image }}" 
                height="{{ items:br_image:height }}" 
                width="{{ items:br_image:width }}" 
                aspectRatio="aspect-[840/1151]"
                alt="{{ items:br_image:alt }}" }}
            </div>
          {{ /if }}
          {{ if cta_text && cta_link }}
            <div class="ml-35 md:ml-50 mt-60 md:pr-60 max-w-[75%] md:max-w-[80%] lg:max-w-[60%]">
              {{ partial:components/misc/cta class="" }}
            </div>
          {{ /if }}
        </div>
      </div>
    {{ /if }}
  {{ /partial:layout/blocks/inner }}
</section>