<div class="{{ class }}">
{{ images }}
  {{ if first }}
    <a
      href="javascript:;" 
      data-src="{{ glide:image preset='3xl' }}" 
      data-fancybox="gallery_{{anchor}}"
      data-caption="{{ image:alt }}"
      class="!no-underline"
      title="{{ image:alt }}">
      {{ partial:partials/components/media/image count="{{ images | count }}" }}
    </a>
  {{ else }}
    <a 
      href="javascript:;"
      data-src="{{ glide:image preset='3xl' }}" 
      data-fancybox="gallery_{{ anchor}}"
      data-caption="{{ image:alt }}"
      title="{{ image:alt }}">
    </a>
  {{ /if}}
{{ /images }}
</div>
