<header class="mb-30 xl:mb-60 sm:flex sm:justify-between sm:items-center">
  <h1>Blog</h1>
  <div class="flex justify-between gap-x-30 xl:gap-x-50 sm:min-w-1/2 mt-20 sm:mt-0">
    {{ partial:blog/filter }} 
    {{ partial:blog/search }}
  </div>
</header>

{{ if get:q }}
  <div class="grid grid-cols-12 gap-20 lg:gap-30 xl:gap-50">
    {{ search:results index="blog" sort="date:desc" }}
      {{ if no_results }}
        <div class="col-span-full md:col-span-4">
          <p>{{ "Keine Resultate gefunden für" | trans }} {{ get:q }}.</p>
        </div>
      {{ else }}
        {{ partial:components/post/elements/card term="true" }}
      {{ /if }}
    {{ /search:results }}
  </div>
{{ else }}
  {{ collection from="posts" as="posts" sort="date:desc" limit="25" taxonomy:post_categories="{{ category }}" taxonomy:tags="{{ tag }}" }}
    {{ if no_results }}
      <p>{{ "Oh, es gibt leider noch keine Beiträge. Schau doch zu einem späteren Zeitpunkt noch einmal vorbei." | trans }}</p>
    {{ else }}
      <div class="grid grid-cols-12 gap-20 lg:gap-30 xl:gap-50">
        {{ posts }}
          {{ partial:components/post/elements/card term="{{ term }}" }}
        {{ /posts }}
      </div>
    {{ /if }}
  {{ /collection }}
{{ /if }}