
{{ category = "articles" }}
{{ post_categories limit="1" }}
  {{ category = slug }}
{{ /post_categories }}

<section data-section data-section-theme="light" class="pt-60 xl:pt-120">
  <div class="md:px-80 xl:px-100 3xl:px-145 max-w-site mx-auto">
    {{ partial:components/headings/h2 is_project="true" class="pl-35 md:pl-0 text-md xl:text-4xl mb-15 xl:mb-30" }}
      {{ "Ähnliche Beiträge" | trans }}
    {{ /partial:components/headings/h2 }}

    {{ collection from="posts" as="posts" sort="date:desc" limit="3" taxonomy:post_categories="{{ category }}" slug:not_in="{{ slug }}" }}

      {{ partial:components/swiper/wrapper class="md:!hidden"  }}
        {{ partial:components/swiper/container class="js-swiper-posts" navigation="false" }}
          {{ posts }}
            {{ partial:components/swiper/slide class="swiper-slide--mute-inactive" }}
              {{ partial:components/post/elements/card term="true" }}
            {{ /partial:components/swiper/slide }}
          {{ /posts }}
        {{ /partial:components/swiper/container }}
      {{ /partial:components/swiper/wrapper }}

      <div class="hidden md:grid grid-cols-12 gap-20 lg:gap-50">
        {{ posts }}        
          <div class="md:col-span-4">
            {{ partial:components/post/elements/card term="true" }}
          </div>
        {{ /posts }}
      </div>
    {{ /collection }}
    
    <div class="mt-60 xl:mt-90 flex justify-center">
      {{ partial:components/buttons/back title="{{ "Zur Übersicht" | trans }}" url="{{ link id="aa4457b3-2553-4340-9848-81b494b5361f" }}" }}
    </div>
  </div>
</section>