<section data-section data-section-theme="light" class="posts pt-90 md:pt-150 {{ is_fullpage ? 'md:snap-center' : '' }}">
  {{ partial:layout/blocks/inner }}
    {{ if feature_image }}
      {{ partial:components/post/media/feature image="{{ feature_image }}" }}
    {{ /if }}
    <div class="flex justify-between mt-15 mb-60 xl:mb-120">
      {{ partial:components/post/elements/date }}
      <div>
        {{ post_categories }}
          {{ partial:components/post/elements/category }}
        {{ /post_categories }}
      </div>
    </div>
    <article class="max-w-content mx-auto">
      <h1 class="leading-[1.2] mb-15 xl:mb-30">
        {{ title }}
      </h1>
      {{ if excerpt }}
        <div class="text-md xl:text-2xl mb-30 xl:mb-60">
          {{ excerpt }}
        </div>
      {{ /if }}

      {{ content }}

        {{ if type == 'text'}}
          {{ text }}
        {{ /if }}

        {{ if type == 'image' }}
          <div class="mb-30 xl:mb-60">
            {{ partial:components/post/media/image }}
          </div>
        {{ /if }}
  
      {{ /content }}
    </article>

  {{ /partial:layout/blocks/inner }}
</section>