<figure class="bg-silver relative group">
  {{ image_carousel }}
    <picture>
      <source srcset="{{ glide:image preset='lg-webp' }}" type="image/webp">
      <img 
        src="{{ glide:image preset='lg' }}" 
        alt="{{ image:alt }}" 
        title="{{ image:alt }}" 
        height="{{ image:height }}" 
        width="{{ image:width }}"
        data-loop-image
        data-loop-duration="{{ intervall_duration ?? 150 }}"
        class="w-full h-auto {{ !first ? 'hidden' : '' }}">
    </picture>
  {{ /image_carousel }}
</figure>
