{{# <style>
  .comparison-slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    user-select: none;
  }

  .before-image,
  .after-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .after-image {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  }

  .slider {
    position: absolute;
    width: 2px;
    height: 100%;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    cursor: ew-resize;
  }

  .slider-handle {
    position: absolute;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: ew-resize;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slider-handle::before,
  .slider-handle::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background: #333;
  }

  .slider-handle::before {
    transform: rotate(45deg);
  }

  .slider-handle::after {
    transform: rotate(-45deg);
  }

</style>
</head>
<body>
<div class="comparison-slider">
  <img class="before-image" src="https://www.nightnurse.ch/img/asset/YXNzZXRzLzI0ZTIxLXN0YWR0LXp1ZXJpY2gsLXRpZWZiYXVhbXQsLXVyYW5pYXN0cmFzc2VfZnpfc2lobHN0cmFzc2UtMjQxMDE1LmpwZw==?p=lg&s=7ad278af7e3f4cc3e43a6a31b7895109" alt="Before">
  <img class="after-image" src="https://www.nightnurse.ch/img/asset/YXNzZXRzLzI0ZTIxLXN0YWR0LXp1ZXJpY2gsLXRpZWZiYXVhbXQsLXVyYW5pYXN0cmFzc2VfZnpfc2lobHN0cmFzc2UtaXN0LTI0MTAxNS5qcGc=?p=lg&s=314e4dc1b47b9044bbdb5c5637776ab6" alt="After">
  <div class="slider">
    <div class="slider-handle"></div>
  </div>
</div> #}}

<div class="relative w-full max-w-[800px] h-auto aspect-video mx-auto overflow-hidden select-none" data-comparison-slider-container>
  <img class="absolute top-0 left-0 w-full h-full object-cover" src="{{ image_before }}" alt="Before" data-comparison-before-image>
  <img class="absolute top-0 left-0 w-full h-full object-cover" style="clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%)" src="{{ image_after }}" alt="After" data-comparison-after-image>
  <div class="absolute w-[2px] h-full bg-black left-1/2 -translate-x-1/2 cursor-ew-resize" data-comparison-slider>
    <div class="absolute w-28 h-28 py-4 bg-black rounded-full top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 cursor-ew-resize flex items-center justify-center gap-x-3">
      <span class="w-1 bg-white h-16"></span>
      <span class="w-1 bg-white h-16"></span>
      <span class="w-1 bg-white h-16"></span>
    </div>
  </div>
</div>