<div 
  class="relative max-w-site mx-auto px-35 sm:px-80 xl:px-100 w-full h-auto overflow-hidden select-none lg:max-h-[calc(100vh_-_300px)]"
  style="aspect-ratio: {{ image_before:width }} / {{ image_before:height }}" 
  data-comparison-slider-container
  data-animation="fadeIn"
  data-animation-duration="slow">

  <picture>
    <source media="(min-width: 1280px)" srcset="{{ glide:image_before preset='2xl-webp' }}" type="image/webp">
    <source media="(min-width: 1024px)" srcset="{{ glide:image_before preset='xl-webp' }}" type="image/webp">
    <source media="(min-width: 768px)" srcset="{{ glide:image_before preset='lg-webp' }}" type="image/webp">
    <source srcset="{{ glide:image_before preset='md-webp' }}" type="image/webp">
    <source media="(min-width: 1280px)" srcset="{{ glide:image_before preset='2xl' }}" type="image/jpeg">
    <source media="(min-width: 1024px)" srcset="{{ glide:image_before preset='xl' }}" type="image/jpeg">
    <source media="(min-width: 768px)" srcset="{{ glide:image_before preset='lg' }}" type="image/jpeg">
    <img 
      src="{{ glide:image_before preset='md' }}" 
      alt="{{ image_before:alt }}" 
      title="{{ image_before:alt }}" 
      height="{{ image_before:height }}" 
      width="{{ image_before:width }}"
      class="block absolute top-0 left-0 w-full h-full object-cover"
      data-comparison-before-image>
  </picture>

  <picture>
    <source media="(min-width: 1280px)" srcset="{{ glide:image_after preset='2xl-webp' }}" type="image/webp">
    <source media="(min-width: 1024px)" srcset="{{ glide:image_after preset='xl-webp' }}" type="image/webp">
    <source media="(min-width: 768px)" srcset="{{ glide:image_after preset='lg-webp' }}" type="image/webp">
    <source srcset="{{ glide:image_after preset='md-webp' }}" type="image/webp">
    <source media="(min-width: 1280px)" srcset="{{ glide:image_after preset='2xl' }}" type="image/jpeg">
    <source media="(min-width: 1024px)" srcset="{{ glide:image_after preset='xl' }}" type="image/jpeg">
    <source media="(min-width: 768px)" srcset="{{ glide:image_after preset='lg' }}" type="image/jpeg">
    <img 
      src="{{ glide:image_after preset='md' }}" 
      alt="{{ image_after:alt }}" 
      title="{{ image_after:alt }}" 
      height="{{ image_after:height }}" 
      width="{{ image_after:width }}"
      class="block absolute top-0 left-0 w-full h-full object-cover"
      style="clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%)"
      data-comparison-after-image>
  </picture>

  <div class="absolute w-[2px] h-full bg-black left-1/2 -translate-x-1/2 cursor-ew-resize " data-comparison-slider>
    <div class="absolute w-38 h-38 rounded-full bg-black top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 cursor-ew-resize flex items-center justify-center gap-x-6">
      {{ partial:components/icons/chevron-left class="text-white w-9 h-auto" }}
      {{ partial:components/icons/chevron-right class="text-white w-9 h-auto" }}
    </div>
  </div>
</div>