<div class="swiper {{ class }}">
  <div class="swiper-wrapper">
    {{ slot }}
  </div>
</div>
{{ if navigation }}
  <nav class="flex justify-center sm:justify-between items-center mt-60 sm:mt-45" aria-label="{{ "Slider" | trans }}">
    <button type="button" aria-label="{{ "Zurück" | trans }}" class="hidden sm:block swiper-btn-prev">
      {{ partial:ui/icon/arrow-right-short class="w-22 xl:w-40 xl:h-auto rotate-180" }}
    </button>
    {{ if moreLink }}
      {{ partial:ui/button/more title="{{ "Zum Team" | trans }}" url="{{ link id="da3064ef-0ff3-40b8-8ea7-12771204c109" }}" }}
    {{ /if }}
    <button type="button" aria-label="{{ "Weiter" | trans }}" class="hidden sm:block swiper-btn-next">
      {{ partial:ui/icon/arrow-right-short class="w-22 xl:w-40 xl:h-auto" }}
    </button>
  </nav>
{{ /if }}