{{ if teaser_video }}
  <div class="h-full relative">
    <video poster="" preload="none" muted autoplay loop data-video data-autoplay class="block w-full h-full object-cover {{ class ?? '' }}">
      <source src="{{ teaser_video }}" type="video/mp4">
    </video>
    <span class="absolute bottom-0 left-0 z-50 w-auto h-auto flex flex-col justify-end items-start text-white px-30 pb-30 xl:px-60 xl:pb-60 group-hover:opacity-0 transition-opacity duration-500">
      <h3 class="font-meta-medium mb-2">
        {{ title }}
      </h3>
      {{ if client }}
        <div>{{ client }}</div>
      {{ /if }}
    </span>
  </div>
{{ else }}
  <figure class="h-full">
    <picture>
      <source media="(min-width: 1024px)" srcset="{{ glide:image preset='xl-webp' }}" type="image/webp">
      <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg-webp' }}" type="image/webp">
      <source srcset="{{ glide:image preset='md-webp' }}" type="image/webp">
      <source media="(min-width: 1024px)" srcset="{{ glide:image preset='xl' }}" type="image/jpeg">
      <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg' }}" type="image/jpeg">
      <img 
        src="{{ glide:image preset='md' }}" 
        alt="{{ image:alt }}" 
        title="{{ image:alt }}" 
        height="{{ image:height }}" 
        width="{{ image:width }}"
        class="block w-full h-full object-cover {{ class ?? '' }}"
        loading="lazy">
    </picture>
    <figcaption class="absolute bottom-0 left-0 z-50 w-auto h-auto flex flex-col justify-end items-start text-white px-30 pb-30 xl:px-60 xl:pb-60 group-hover:opacity-0 transition-opacity duration-500">
      <h3 class="font-meta-medium mb-2">
        {{ title }}
      </h3>
      {{ if client }}
        <div>{{ client }}</div>
      {{ /if }}
    </figcaption>
  </figure>
{{ /if }}
