<button 
  :class="{ 'opacity-0': filter === false}"
  type="button"
  class="text-left border-b-2 border-silver py-5 mb-2 hover:text-steel transition-colors"
  data-filter="all"
  @click="filter = ! filter">
  {{ "Alle" | trans }}
</button>
{{ taxonomy:team_categories }}
  <button 
    :class="{ 'opacity-0': filter === false}"
    type="button"
    class="text-left border-b-2 border-silver py-5 mb-2 hover:text-steel transition-colors"
    data-filter="{{ slug }}"
    @click="filter = ! filter">
    {{ title | replace(' ', '&nbsp;') }}
  </button>
{{ /taxonomy:team_categories }}