{{ if tags | count > 0 }}
  <div class="uppercase xl:text-md md:text-right md:max-w-lg xl:max-w-2xl mt-30 md:mt-0">
    <div>
      <strong>Tags:</strong>
      {{ tags }}
        <a 
          {{ if site:locale == 'de' }} 
            href="/blog/tag/{{ slug }}" 
          {{ else }} 
            href="/{{ site:locale }}/blog/tag/{{ slug }}"
          {{ /if }}
          title="{{ title }}"
          class="inline-block mx-2 underline underline-offset-2 decoration-1 hover:no-underline">
          {{ title }}
        </a>
      {{ /tags }}
    </div>
  </div>
{{ /if }}
